html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
#header {
	background: url('../img/header.jpg');
	background-size: cover;
	background-position: bottom right;
	height: 100%;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}
#header > div {
	background: rgba(0, 169, 157, 0.3);
	text-align: center;
	padding-top: 15%;
	height: 100%;
	position: relative;
}
#header img {
	margin: 0 auto;
}
#header h1 {
	color: #FFF;
	font-weight: 300;
}
.btn-white {
	border: 2px solid #FFF;
	color: #FFF;
	border-radius: 1.2em;
	-moz-border-radius: 1.2em;
	-webkit-border-radius: 1.2em;
	-webkit-transition: background-color 0.5s, color 0.5s;
	transition: background-color 0.5s, color 0.5s;
	background-color: transparent;
}
.btn-white:hover {
	background-color: #FFF;
	color: #00a99d;
}
.btn-white:active {
	background: #00a99d;
	color: #FFF;
}
.btn-white > span {
	margin-right: 0.3em;
}

#outro {
	background: #00a99d;
	color: #FFF;
}

#features img {
	max-height: 100px;
	margin: 0 auto 10px auto;
}
#features h4 {
	color: #00a99d;
	font-weight: bolder;
}

#body {
	padding-top: 20px;
	background: #3b3838;
	color: #FFF;
}
#body p {
	font-size: 1.2em;
}
#footer a {
	float: right;
}
#intro {
	background: #f2f2f2;
}

#macbook {
	position: relative;
}
#macbook img {
	width: 100%;
}
#macbook > div {
	position: absolute;
	top: 6.5%;
	left: 14%;
	right: 15.3%;
	bottom: 15%;
}

#groups {

}

#groups h4 {
	color: #00a99d;
	text-shadow: 2px 2px #4d4d4d;
}

.signup {
	padding-top: 20px;
}
.signup p {
	font-size: 1.2em;
	font-weight: 300;
	color: #FFF;
}
#mc_embed_signup {
	background: transparent !important;
}
#mc_embed_signup input {

}
#mc_embed_signup .button {
	background: #01aa9e;
}

.bg-light-red {
	background-color: #fde4e4;
}
.bg-light-blue {
	background-color: #e2e8f1;
}
.bg-light-brown {
	background-color: #f5ebe2;
}
.bg-light-cyan {
	background-color: #cceeeb;
}
.color-red {
	color: #f77a7a;
}
.color-blue {
	color: #728bbc;
}
.color-brown {
	color: #c69b67;
}
.color-cyan {
	color: #00a99d;
}

@-webkit-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@-moz-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
 .scroll-btn {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10px;
	text-align: center;
}
.scroll-btn > p {
  margin-left: -55px;
}
.scroll-btn > * {
	display: inline-block;
	line-height: 18px;
	font-size: 13px;
	font-weight: normal;
	color: #7f8c8d;
	color: #ffffff;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
	color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.scroll-btn .mouse {
	position: relative;
	display: block;
	width: 35px;
	height: 55px;
	margin: 0 auto 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid white;
	border-radius: 23px;
}
.scroll-btn .mouse > * {
	position: absolute;
	display: block;
	top: 29%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	background: white;
	border-radius: 50%;
	-webkit-animation: ani-mouse 2.5s linear infinite;
	-moz-animation: ani-mouse 2.5s linear infinite;
	animation: ani-mouse 2.5s linear infinite;
}

.b-c {
	margin-left: auto;
	margin-right: auto;
}

.a-c {
	text-align: center;
}

.font-intro {
	font-size: 1.5em;
}

.ptop-10 {
	padding-top: 10px;
}
.pbottom-10 {
	padding-bottom: 10px;
}
.pleft-10 {
	padding-left: 10px;
}
.pright-10 {
	padding-right: 10px;
}

.ptop-30 {
	padding-top: 30px;
}
.pbottom-30 {
	padding-bottom: 30px;
}
.pleft-30 {
	padding-left: 30px;
}
.pright-30 {
	padding-right: 30px;
}
